<!DOCTYPE html>
{%load static%}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href='{%static "main/bootstrap.min.css"%}' />
    <link rel="stylesheet" href="{%static 'main/style.css'%}" />
    <title>Document</title>
  </head>
  <body>

    <form action="/customer" method="post">
      {%csrf_token%}
      <div class="container d-flex justify-content-center box mt-5">
        <div class="row align-items-start mt-4 w-50">
          <input
            class="form-control"
            type="number"
            name="age"
            placeholder="enter your age"
            required
          />

          <select class="form-select mt-3" name="sex">
            <option selected disabled>Choose...</option>
            {%for i in sex%}
            <option value="{{i}}">{{i.title}}</option>
            {%endfor%}
          </select>

          <input
            class="form-control mt-3"
            type="text"
            name="part"
            placeholder="enter your part"
            required
          />
          <input
            class="form-control mt-3"
            type="date"
            name="born"
            placeholder="enter your born"
            required
          />
          <input
            class="form-control mt-3"
            type="text"
            name="nickname"
            placeholder="enter your nickname"
            required
          />

          <select class="form-select mt-3">
            <option selected>Choose...</option>
            {%for i in status%}
            <option value="{{i}}">{{i.title}}</option>
            {%endfor%}
          </select>
          <button type="submit" class="btn btn-primary mt-3 text-center mb-3">ADD</button>
        </div>
      </div>
    </form>
  

</body>
</html>
